<main class="profile-container">
  <div class="profile-sidebar">
    <div class="profile-card">
      <div class="profile-avatar">
        <img src="assets/imagens/icone-busca.png" alt="Avatar do usuário">
      </div>
      <h3>{{ nome }}</h3>
      <p>{{ email }}</p>
    </div>
  </div>

  <div class="profile-content">
    <div class="tabs">
      <button class="tab" [class.active]="activeTab === 'favorites'" (click)="setActiveTab('favorites')">MEUS FAVORITOS</button>
      <button class="tab" [class.active]="activeTab === 'history'" (click)="setActiveTab('history')">HISTÓRICO DE PESQUISA</button>
    </div>

    <div class="content-area">
      <div class="tab-content" *ngIf="activeTab === 'favorites'" id="favorites-content">
        <div class="books-grid">
          <div *ngFor="let livro of favoritos" class="book-card">
            <div class="book-cover">
              <img src="{{ livro.thumbnail != undefined ? livro.thumbnail : 'assets/imagens/capaIndisponivel.png'}}" alt="Capa do livro">
              <span class="author">{{ livro.authors[0] }}</span>
            </div>
            <div class="book-info">
              <h4>{{ livro.title }}</h4>
              <p><strong>Autor(a):</strong> {{ livro.authors[0] }}</p>
              <p><strong>Data de publicação:</strong> {{ livro.publishedDate }}</p>
              <p><strong>Editora:</strong> {{ livro.publisher }}</p>
              <button class="synopsis-btn">Ler sinopse</button>
            </div>
            <button class="favorite-btn">★</button>
          </div>
        </div>
      </div>
      
      <div class="tab-content" *ngIf="activeTab === 'history'" id="history-content">
        <h4>HISTÓRICO</h4>
        <p *ngIf="historico.length === 0">Nenhum item encontrado no histórico.</p>

        <p *ngFor="let registro of historico">{{ registro.consulta }} - {{ registro.dataHora | date }}</p>
      </div>
    </div>
  </div>
</main>


