@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.card-livro {
  display: flex;
  width: 384px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  margin: 24px;
  border-radius: 8px 0px 0px 8px;
}

img {
  min-width: 198px;
}

.card {
  display: flex;
  width: 400px;
  height: 310px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  margin: 24px;
  border-radius: 8px 0px 0px 8px;
}

.info-card {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 6px;
  background: #FFFFFF;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  justify-content: space-evenly;
  align-items: baseline;
}

.titulo {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
  color: #93ac9e;
  margin-top: 5px;
}

.informacoes {
  font-family: "Cormorant Infant", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.resultado {
  font-family: "Cormorant Infant", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #2c2c2c;
}

button {
  background: #93ac9e;
  width: 156px;
  height: 40px;
  border-radius: 8px;
  font-family: "Cormorant Infant", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #39443e;
}

.card {
  display: flex;
  width: 384px;
  height: 310px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  margin: 24px;
  border-radius: 8px 0px 0px 8px;
  position: relative; /* Necessário para o posicionamento absoluto da estrela */
}

.icone-favoritar {
  position: absolute;
  top: 5px;  /* Distância do topo da card */
  right: 0px; /* Distância da borda direita da card */
  left: 270px;
  padding: 0;
  width: 20px;  /* Aumentar o tamanho da estrela */
  height: 40px;  /* Aumentar o tamanho da estrela */
  z-index: 10;  /* Garantir que a estrela fique visível sobre outros elementos */
  object-fit: contain;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}



