/* footer {
  background-color: #050C42;
  height: 83px;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

span {
  margin-right: 0.5rem;
  margin-top: 0.75rem;
  font-size: 36px;
} */

* {
  box-sizing: border-box; /* Garante que padding e borda sejam inclusos na largura */
}

.image-container {
  width: 100%;
  display: flex; /* Organiza os itens em linha */
  gap: 0; /* Remove espaço entre os itens */

}

.image-container img {
  width: 100%;
  display: block; /* Remove o espaço causado por "inline-block" */
  margin: 0; /* Remove margens extras */
  border: none; /* Remove bordas, se existirem */
  padding: 0; /* Remove espaçamentos */
  margin-top: 5%;
}

@media (max-width: 768px) {
  .image-container img {
    max-width: 100%; /* As imagens ocupam toda a largura da tela */
  }
}
